{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/tableau.css' %}">
<head>
    {% include './header.html' %}

</head>
<body>
  <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            {% include './left-bar.html' %}
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-1"><h4>Utilisateurs <b>Details</b></h4></div>


                            </div>
                        </div>
              </div>


            </div>
          </div>
                        <div class="container">
                    <div class="table-wrapper">
                       <form class="forms-sample" action="" method="POST">
                              {% csrf_token %}
                                <div class="form-group">
                                   {{ form.username|as_crispy_field }}

                                </div>
                                <div class="form-group">
                                   {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                   {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                   {{ form.email|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                   {{ form.password|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                   {{ form.dob|as_crispy_field }}
                                </div>
                                 <div class="form-group">
                                   {{ form.VoitureAsoc }}
                                 </div>


                            <button type="submit" class="btn btn-primary me-2">Modifier</button>
                          </form>

                    </div>
            </div>
        </div>

      </div>
  </div>
  </div>
    {% include './footer.html' %}
</body>

</html>

