{% load static %}


            {% if user.is_superuser or user.is_admin %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="ui-basic">
                  <i class="ti-user menu-icon"></i>
                  <span class="menu-title">Admin Dashboard</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="admin">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'liste_voitures' %}">Listes Voitures</a></li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'liste_users' %}">Listes Utilisateurs</a></li>
                  </ul>
                </div>
              </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_vehicles' %}">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Mes voitures</span>
            </a>
          </li>



      <!-- partial -->

