{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% include './header.html' %}

</head>
<body>
  <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            {% include './left-bar.html' %}
        </ul>
      </nav>
                <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Mes voitures</h4>
                </div>
              </div>
            </div>
          </div>
                        {% for v in Veh %}
                            {{ v.Matricule }}
                        {% endfor %}

            </div>

          </div>
  </div>
  </div>
    {% include './footer.html' %}
</body>

</html>